@import 'variables';
@import 'bootswatch';

body {
	font-family: $raleway;
}






//Bootstrap Overrides
.form-actions {
	margin-top: 16px;
}
.btn {
	&.add-new {
		float: right;
	}
}
button.btn {
	padding: 7px 13px;
}
.clear {
  	clear: both;
}