@import url("//fonts.googleapis.com/css?family=Raleway:400,200,600,700");
@import url("//bootswatch.com/flatly/bootstrap.css");
/* line 8, ../sass/_bootswatch.scss */
.navbar {
  border-width: 0;
}

/* line 13, ../sass/_bootswatch.scss */
a.btn {
  padding: 7px 13px;
  margin-left: 2px;
}
/* line 16, ../sass/_bootswatch.scss */
a.btn.btn-primary {
  margin-left: 0;
  padding: 7px 13px;
  margin-left: 2px;
}

/* line 22, ../sass/_bootswatch.scss */
.btn-primary, button.btn.btn-danger {
  padding: 7px 13px;
}

/* line 37, ../sass/_bootswatch.scss */
.text-primary,
.text-primary:hover {
  color: #2c3e50;
}

/* line 42, ../sass/_bootswatch.scss */
.text-success,
.text-success:hover {
  color: #18bc9c;
}

/* line 47, ../sass/_bootswatch.scss */
.text-danger,
.text-danger:hover {
  color: #e74c3c;
}

/* line 52, ../sass/_bootswatch.scss */
.text-warning,
.text-warning:hover {
  color: #f39c12;
}

/* line 57, ../sass/_bootswatch.scss */
.text-info,
.text-info:hover {
  color: #3498db;
}

/* line 66, ../sass/_bootswatch.scss */
table a:not(.btn),
.table a:not(.btn) {
  text-decoration: underline;
}
/* line 70, ../sass/_bootswatch.scss */
table .dropdown-menu a,
.table .dropdown-menu a {
  text-decoration: none;
}
/* line 77, ../sass/_bootswatch.scss */
table .success,
table .warning,
table .danger,
table .info,
.table .success,
.table .warning,
.table .danger,
.table .info {
  color: #fff;
}
/* line 80, ../sass/_bootswatch.scss */
table .success a,
table .warning a,
table .danger a,
table .info a,
.table .success a,
.table .warning a,
.table .danger a,
.table .info a {
  color: #fff;
}
/* line 90, ../sass/_bootswatch.scss */
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: none;
}

/* line 107, ../sass/_bootswatch.scss */
.form-control,
input {
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 111, ../sass/_bootswatch.scss */
.form-control:focus,
input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 123, ../sass/_bootswatch.scss */
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning .form-control-feedback {
  color: #f39c12;
}
/* line 128, ../sass/_bootswatch.scss */
.has-warning .form-control,
.has-warning .form-control:focus {
  border: 2px solid #f39c12;
}
/* line 132, ../sass/_bootswatch.scss */
.has-warning .input-group-addon {
  border-color: #f39c12;
}

/* line 144, ../sass/_bootswatch.scss */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .form-control-feedback {
  color: #e74c3c;
}
/* line 149, ../sass/_bootswatch.scss */
.has-error .form-control,
.has-error .form-control:focus {
  border: 2px solid #e74c3c;
}
/* line 153, ../sass/_bootswatch.scss */
.has-error .input-group-addon {
  border-color: #e74c3c;
}

/* line 165, ../sass/_bootswatch.scss */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success .form-control-feedback {
  color: #18bc9c;
}
/* line 170, ../sass/_bootswatch.scss */
.has-success .form-control,
.has-success .form-control:focus {
  border: 2px solid #18bc9c;
}
/* line 174, ../sass/_bootswatch.scss */
.has-success .input-group-addon {
  border-color: #18bc9c;
}

/* line 184, ../sass/_bootswatch.scss */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}

/* line 191, ../sass/_bootswatch.scss */
.pager a,
.pager a:hover {
  color: #fff;
}
/* line 199, ../sass/_bootswatch.scss */
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
  background-color: #3be6c4;
}

/* line 207, ../sass/_bootswatch.scss */
.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;
}
/* line 213, ../sass/_bootswatch.scss */
.close:hover, .close:focus {
  color: #fff;
  opacity: 1;
}

/* line 221, ../sass/_bootswatch.scss */
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}

/* line 229, ../sass/_bootswatch.scss */
.progress {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 232, ../sass/_bootswatch.scss */
.progress .progress-bar {
  font-size: 10px;
  line-height: 10px;
}

/* line 240, ../sass/_bootswatch.scss */
.well {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 248, ../sass/_bootswatch.scss */
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  border-color: #ecf0f1;
}
/* line 253, ../sass/_bootswatch.scss */
a.list-group-item.list-group-item-success.active {
  background-color: #18bc9c;
}
/* line 258, ../sass/_bootswatch.scss */
a.list-group-item.list-group-item-success.active:hover, a.list-group-item.list-group-item-success.active:focus {
  background-color: #15a589;
}
/* line 264, ../sass/_bootswatch.scss */
a.list-group-item.list-group-item-warning.active {
  background-color: #f39c12;
}
/* line 269, ../sass/_bootswatch.scss */
a.list-group-item.list-group-item-warning.active:hover, a.list-group-item.list-group-item-warning.active:focus {
  background-color: #e08e0b;
}
/* line 275, ../sass/_bootswatch.scss */
a.list-group-item.list-group-item-danger.active {
  background-color: #e74c3c;
}
/* line 280, ../sass/_bootswatch.scss */
a.list-group-item.list-group-item-danger.active:hover, a.list-group-item.list-group-item-danger.active:focus {
  background-color: #e43725;
}

/* line 288, ../sass/_bootswatch.scss */
.panel.panel-default .close {
  color: #2c3e50;
}

/* line 295, ../sass/_bootswatch.scss */
.modal .close {
  color: #2c3e50;
}

/* line 300, ../sass/_bootswatch.scss */
.popover {
  color: #2c3e50;
}

/* line 4, ../sass/style.scss */
body {
  font-family: "Raleway", sans-serif;
}

/* line 14, ../sass/style.scss */
.form-actions {
  margin-top: 16px;
}

/* line 18, ../sass/style.scss */
.btn.add-new {
  float: right;
}

/* line 22, ../sass/style.scss */
button.btn {
  padding: 7px 13px;
}

/* line 25, ../sass/style.scss */
.clear {
  clear: both;
}
